/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: border-box;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#000b1c;
    font-family:'HelveticaNeue', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
    font-size:14px;
    line-height: 1.2em;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    color: #FFF;
}

h2 {
    color: #00d8ff;
    border-bottom: #00d8ff solid 4px;
    line-height: 1.5em;
}

a, a:active, a:hover, a:visited {
    color: #00d8ff;
}

/* Portrait layout (default) */
.app {
    padding: 10px;
}

.app img {
    display: block;
    height: auto;
    max-width: 100%;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        
    }
}

/* thanks Twitter Bootstrap */
.row::after, .row::before {
    content: " ";
    display: table;
}

.row::after {
    clear: both;
}

.row {
    
}

.col {
    float: left;
    min-height: 1px;
    padding: 5px 5px;
    position: relative;
    overflow-x: hidden;
    white-space: nowrap;
}

/* thanks Zurb Foundation */
.flex-video {
    height: 0;
    margin-bottom: 0.88889rem;
    overflow: hidden;
    padding-bottom: 67.5%;
    padding-top: 1.38889rem;
    position: relative;
}

.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.hidden {
    display: none;
}

#status {

}

#status-title {

}

#status-message {

}

#status-btn-container {

}

#status-btn {

}

#action-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;

    
    width: 100%;
    background: #003992;
    border-top: #00d8ff solid 4px;
    padding: 10px;

    font-size: 20px;
    line-height: 1.2em
}

#action-thumb {
    margin: -40px 10px 0 0;
    z-index: 11;
    
    width: 100px;
    height: 100px;
    float: left;
}

#action-thumb img {
    border: #00d8ff solid 4px;
    border-radius: 50px;
}

#action-nearby {
    font-style: italic;
    color: #00d8ff;
    font-size: 16px;
}

#action-title {

}

#action-bar-spacer {
    height: 140px;
}

#exhibit {

}

#exhibit-feature-img {
    margin: -10px -10px 0 -10px;
}

#exhibit-feature-img img {
    width: 100%;
}

#exhibit-title {

}

#exhibit-audio {

}

#exhibit-description {

}

#exhibit-videos {

}

